---
apiVersion: v1
kind: Service
metadata:
  name: music-assistant
  namespace: default
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.1.228
spec:
  ports:
    - name: webui
      port: 80
      targetPort: 8095
      protocol: TCP
  selector:
    app: music-assistant
  type: LoadBalancer

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: music-assistant
  namespace: default
spec:
  serviceName: music-assistant
  replicas: 1
  selector:
    matchLabels:
      app: music-assistant
  template:
    metadata:
      labels:
        app: music-assistant
    spec:
      hostNetwork: true
      containers:
        - name: music-assistant
          image: ghcr.io/music-assistant/server:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: LOG_LEVEL
              value: info
            - name: TZ
              value: Europe/Oslo
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          livenessProbe:
            httpGet:
              path: /
              port: 8095
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: 8095
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - mountPath: /data
              name: music-assistant-volume
          securityContext:
            runAsUser: 0
      volumes:
        - name: music-assistant-volume
          persistentVolumeClaim:
            claimName: music-assistant-pvc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: music-assistant-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
#   volumeName: music-assistant-pv

# ---

# kind: PersistentVolume
# apiVersion: v1
# metadata:
#   name: music-assistant-pv
#   namespace: default
# spec:
#   storageClassName: longhorn
#   persistentVolumeReclaimPolicy: Retain
#   capacity:
#     storage: 1Gi
#   accessModes:
#     - ReadWriteOnce
  # csi:
  #   driver: driver.longhorn.io
  #   fsType: ext4
  #   volumeHandle: music-assistant
