---
# When we connect directly to the pod - e.g. frigate
apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 1883
  selector:
    app: mosquitto
  type: ClusterIP

---
# When external clients connect - e.g. zigbee2mqtt
apiVersion: v1
kind: Service
metadata:
  name: mosquitto-lb
  namespace: default
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.1.224
spec:
  ports:
    - port: 1883
      targetPort: 1883
  selector:
    app: mosquitto
  type: LoadBalancer
  externalTrafficPolicy: Cluster

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: default
  labels:
    app: mosquitto
spec:
  replicas: 1
  strategy:
    type: Recreate
    rollingUpdate: null
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
        - name: mosquitto
          image: eclipse-mosquitto:2.0.15
          ports:
            - containerPort: 1883
              name: mqtt
              protocol: TCP
          securityContext:
            runAsUser: 0
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            tcpSocket:
              port: 1883
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            tcpSocket:
              port: 1883
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 2
          volumeMounts:
            - mountPath: /mosquitto/data
              name: mosquitto-volume
              subPath: mosquitto/data
            - mountPath: /mosquitto/config
              name: config
      volumes:
        - name: mosquitto-volume
          persistentVolumeClaim:
            claimName: mosquitto-pvc
        - name: config
          configMap:
            name: mosquitto-conf

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-conf
  namespace: default
data:
  mosquitto.conf: |
    log_dest stdout
    log_type all
    connection_messages true
    listener 1883
    listener 9090
    protocol websockets
    allow_anonymous false
    password_file /mosquitto/data/j-burg11-mosquitto-passwd

---
#pvc-32d4802d-e7ed-4306-a750-b890d3982222
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
  volumeName: mosquitto-pv

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: mosquitto-pv
  namespace: default
spec:
  storageClassName: longhorn
  # by default, the volume will be not deleted if you delete the PVC, change to
  # "Delete" if you wish the volume to be deleted automatically with the PVC
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  csi:
    driver: driver.longhorn.io
    fsType: ext4
    volumeHandle: mosquitto
