---

apiVersion: v1
kind: Service
metadata:
  name: teslamate
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 4000
  selector:
    app: teslamate
  type: ClusterIP

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: teslamate
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    hajimari.io/enable: "true"
    nginx.org/websocket-services: teslamate
spec:
  ingressClassName: "nginx"
  rules:
    - host: teslamate.j-burg11.dev
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: teslamate
                port:
                  number: 4000
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: teslamate
  namespace: default
  labels:
    app: teslamate
spec:
  replicas: 0
  strategy:
    type: Recreate
    rollingUpdate: null
  selector:
    matchLabels:
      app: teslamate
  template:
    metadata:
      labels:
        app: teslamate
    spec:
      containers:
        - name: teslamate
          image: teslamate/teslamate:latest
          env:
            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: teslamate
                  key: ENCRYPTION_KEY
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: teslamate
                  key: DB_USERNAME
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  name: teslamate
                  key: DB_PASSWORD
            - name: DATABASE_NAME
              value: "teslamate"
            - name: DATABASE_HOST
              value: "postgres"
            - name: MQTT_HOST
              value: "mosquitto"
            - name: DISABLE_MQTT
              value: "true"
