apiVersion: v1
kind: Service
metadata:
  name: tbd
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: tbd
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tbd
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    hajimari.io/enable: "true"
spec:
  ingressClassName: "nginx"
  rules:
    - host: "tbd.${SECRET_DOMAIN}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: tbd
                port:
                  number: 80
  tls:
    - hosts:
        - "tbd.${SECRET_DOMAIN}"
      secretName: tbd-tls-prod
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tbd-qronicl-redirect
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: "https://tbd.${SECRET_DOMAIN}"
spec:
  ingressClassName: "nginx"
  rules:
    - host: "qronicl.io"
      http:
        paths:
          - pathType: Exact
            path: "/1"
            backend:
              service:
                name: tbd
                port:
                  number: 80
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tbd-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-dual-replica
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tbd
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tbd
  template:
    metadata:
      labels:
        app: tbd
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: tbd
          image: ghcr.io/hwestman/tbd:20260123T223440Z-sha-6ee37cf # {"$imagepolicy": "flux-system:tbd"}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
          env:
            - name: TZ
              value: "Europe/Oslo"
            - name: DATA_DIR
              value: "/data"
            - name: NEXT_PUBLIC_REPO_TYPE
              value: "file"
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: tbd-data
