---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 3306
  selector:
    app: mariadb
  type: ClusterIP

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: default
spec:
  serviceName: "mariadb"
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: ups
                    operator: In
                    values:
                      - "true"
      containers:
        - image: mariadb:11.0.2
          name: mariadb
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: password
            - name: MARIADB_AUTO_UPGRADE
              value: "1"
            - name: MARIADB_INITDB_SKIP_TZINFO
              value: "1"
          ports:
            - containerPort: 3306
              name: mariadb
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          livenessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 2
          volumeMounts:
            - name: mariadb-persistent-storage
              mountPath: /var/lib/mysql
              subPath: mariadb/var/lib/mysql
      volumes:
        - name: mariadb-persistent-storage
          persistentVolumeClaim:
            claimName: mariadb-pvc
# ---

# kind: PersistentVolumeClaim
# apiVersion: v1
# metadata:
#   name: mariadb-pvc-v2
#   namespace: default
# spec:
#   storageClassName: longhorn
#   volumeName: mariadb-pv-v2
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 5Gi

# ---
# kind: PersistentVolume
# apiVersion: v1
# metadata:
#   name: mariadb-pv-v2
#   namespace: default
# spec:
#   storageClassName: longhorn
#   # by default, the volume will be not deleted if you delete the PVC, change to
#   # "Delete" if you wish the volume to be deleted automatically with the PVC
#   persistentVolumeReclaimPolicy: Retain
#   capacity:
#     storage: 5Gi
#   accessModes:
#     - ReadWriteOnce
#   csi:
#     driver: driver.longhorn.io
#     fsType: ext4
#     volumeHandle: mariadb-v2

---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mariadb-pvc
  namespace: default
spec:
  storageClassName: longhorn
  volumeName: mariadb-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
---
# attempting to deprecate this one
kind: PersistentVolume
apiVersion: v1
metadata:
  name: mariadb-pv
  namespace: default
spec:
  storageClassName: longhorn
  # by default, the volume will be not deleted if you delete the PVC, change to
  # "Delete" if you wish the volume to be deleted automatically with the PVC
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteOnce
  csi:
    driver: driver.longhorn.io
    fsType: ext4
    volumeHandle: mariadb
